p {
  font-family: Lato;
}
.fulldiv {
  width: 100%;
  height: 1800px;
  padding: 100px;
}
ul {
  list-style-type: none;
}
.seconddiv {
  border: 1px solid;
  border-radius: 5px;
  padding: 50px;
}

.ulListStyle {
  height: 150px;
  width: 100%;
  overflow: scroll;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.ulListStyle::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ulListStyle {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.listyle {
  border: 1px solid;
  padding: 2px;
  margin-bottom: 5px;
}
